$btn-gradient-bg: linear-gradient(90.00deg, rgb(177, 0, 136) -6.228%,rgb(209, 97, 23) 58.655%,rgb(215, 121, 25) 81.749%,rgb(226, 161, 32) 103.743%);
$btn-gradient-border: linear-gradient(#fff, #fff) padding-box, /* Белый фон */ linear-gradient(90.00deg, rgb(177, 0, 136),rgb(209, 97, 23),rgb(215, 121, 25),rgb(226, 161, 32)) border-box;
$main-text-color: #222;
$main-border-color: #DCDCDC;
$orange-color: #EB6320;
